.eq-height-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.eq-height-row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}

.icon-list-icon {
    line-height: 70px !important;  
}

.small-icon-list-icon {
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 40px !important;
}

.small-icon-list p {
  text-align: left;
}

.small-icon-list .small-icon-list-list li {
  padding: 0;
  text-align: left;
}

.team-member-picture {
    padding-top: 10px;
}